* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body{
    background-image: linear-gradient(to right, blue , aqua);
}
  nav{
    background-image: linear-gradient(to right, rgb(12, 246, 12) , rgb(154, 255, 154));
    height: 130px;
    border: 2px solid black;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    height: 10px;
  }
  
  .filter-sort {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

label {
    margin-right: 10px;
}

select {
    background-color: aqua;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: aqua;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
  }
  
  select:hover {
    transform: scale(1.05);
  }
  
  select:focus {
    outline: none;
    transform: scale(1.1);
  }
  
  .business-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .business {
    width: 300px;
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
    
    background-image: linear-gradient(to right, rgb(204, 191, 191) , white);
  }
  
  .business:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .business h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .business p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  